@import "../../styles.scss";

.header-container {
  background-image: linear-gradient(to bottom right, $primary-color, rgba($primary-color, 0.8));
  height: 10vh;
  z-index: 9999;
  color: $primary-font-color;
  font-size: 1.3rem;
  padding: 0 0 0 0;
  width: 100%;
}

.toolbar {
  color: $primary-font-color;
  height: 100%;
  background-color: rgba($primary-color, 0);
}

.menu-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}

.menu-btn {
  color: $primary-font-color;
  background-color: rgba($primary-color, 0);
  z-index: 9999;
  width: 100%;

}

.menu-icon {
  font-size: 1.7rem;
  background-color: rgba($primary-color, 0);
}

.xs-brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: rgba($primary-color, 0);
}

.toolbar-spacer {
  width: 15%;
}

.banner-text-sm {
  font-size: 1.8rem;
}

.banner-text {
  font-size: 1.9rem;
}

.banner-text-lg {
  font-size: 2rem;
}

.link-btn {
  height: 100%;
  width:100%;
}


.btn-text-sm {
  font-size: 1rem;
}

.btn-text {
  font-size: 1.1rem;
}

.btn-text-lg {
  font-size: 1.2rem;
}

.link-btn-container {
  padding: 0 2vh 0 2vh;
  width: 100%;
  height: 100%;
}

.brand-container {
  padding: 1vh 1vh 1vh 1vh;
  border-right: 0.3vh solid rgba($primary-color, 0.6);
  margin: 0 !important;
}

::ng-deep .mat-button-disabled {
  color: rgb(200, 200, 200) !important;
}

::ng-deep .menu-container {
  background-image: linear-gradient(to bottom right, $primary-color, rgba($primary-color, 0.8)) !important;
}

.mat-menu-item {
  color: $primary-font-color !important;
}

.mat-menu-item > mat-button-disabled {
  color: rgb(200, 200, 200) !important;
}

a {
  color: $primary-font-color;
}
