@import "../../styles.scss";

.home-container {
  height: $page-height;
  padding: 7vh 0vh 5vh 0vh;
}

.h1-text {
  font-size: 3rem;
}

.fa-container {
  text-align: center;
  color: rgba(0, 21,23, 0.95);
}

.md-light {
  font-size: 22rem;
  color: rgba($primary-color, 0.95);
}

.md-light-xs {
  font-size: 40vh;
  color: rgba($primary-color, 0.95);
}
